<!-- Menu items  -->
<li class="nav-item">
    <a class="nav-link" href="/home">
        <i class="fas fa-home">
        </i>
        <span>
            Home
        </span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link">
        <i class="fas fa-sitemap">
        </i>
        <span>
            Categories
        </span>
    </a>
</li>
<li>
    <a aria-expanded="false" class="nav-link" data-toggle="collapse" href="#pageSubmenu">
        <i class="fas fa-tags">
        </i>
        <span>
            Tags
        </span>
        <i class="dropdown-toggle">
        </i>
    </a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
        <li class="nav-item">
            <a class="nav-link" href="#">
                Page 1
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Page 2
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Page 3
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link">
        <i class="fas fa-archive">
        </i>
        <span>
            Archives
        </span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link">
        <i class="fas fa-link">
        </i>
        <span>
            Links
        </span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link">
        <i class="fas fa-address-card">
        </i>
        <span>
            Contact
        </span>
    </a>
</li>
