<!-- Sidebar -->
<nav class="d-md-block d-none text-left pull-left" id="sidebar">
    <div class="sticky-top">
        <div class="sidebar-header">
            <button class="btn btn-sm btn-default" id="sidebarCollapse" type="button">
                <i class="fas fa-align-left"></i>
            </button>
            <span>
                Mynix World
            </span>
        </div>
        <ul class="list-unstyled components ">
            {% include '_defaults/menu-items.html.twig' %}
        </ul>
    </div>
</nav>